.header {
  display: flex;
  padding: 0 1.5rem;
  border-bottom: solid gray 1px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
}

.links {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  column-gap: 1rem;
}
